	<% provide(:title, 'Index Users')%>
	<p><%= notice%></p>
	<%if current_user != nil
	%>
		<h1 style="display: inline-block;">Hello <%=current_user.email%></h1>
	<%
		else
	%>
		<h1>Orther</h1>
	<%end%>
	<%= link_to 'Logout', logout_path, method: :delete%>
	<h2>User List</h2>
	<table style="margin: 0 auto;">
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Name</th>
			<th>Gender</th>
			<th>Birthday</th>
			<th>Role</th>
		</tr>
		<%= render partial: 'user', collection: @users%>
	</table>
	<%= link_to 'Previous', users_path(page: params[:page].to_i-1 < 1 ? 1 : params[:page].to_i-1) %>
	<% for i in 1..@page_number%>
		<%= link_to "Page #{i}", users_path(page: i)%>
	<%end%>
	<%= link_to 'Next', users_path(page: params[:page].to_i+1 > @page_number ? @page_number : params[:page].to_i+1) %>
</html>